@{
    ViewBag.Title = "Home Page";
}

<h2>What to cook today? (今天煮什麼?)</h2>

<br/>

<a href="../Recipes/Index/1">
    <img src="~/Images/Noodles.jpg" alt="" class="img-responsive img-rounded" />
</a>